.section__padding {
  padding: 4rem 6rem;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 50vh;
}
.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}
.app__wrapper_img img {
  width: 400px;
  filter: drop-shadow(0 0 1.3rem #070b13);
}
.custom__button {
  font-family: "Fira Code", monospace;
  color: #0d0f1c;
  background-color: #a9aac6;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover.custom__button {
  color: #0d0f1c;
  background-color: #eebf3a;
}

@media screen and (min-width: 2000px) {
  .custom__button {
    font-size: 37px;
    line-height: 67px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
  button {
    align-self: center;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  button {
    align-self: center;
  }
}
